@model ECommerceApplication.DB.Order

@{
    ViewBag.Title = "OrderDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>OrderDetails</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.orderDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.orderDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.username)
        </dd>

    </dl>
</div>
